<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Info"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="MonitorBackend"
            fileName="logs/MonitorBackend.log"
            layout="${longdate}|${level}|${message} ${exception:format=tostring}"
            maxArchiveFiles="30"
            archiveFileName="logs/MonitorBackend-${shortdate}.log"
            archiveEvery="Day"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="MonitorBackend" />
  </rules>
</nlog>